.container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;

  > img {
    width: 130px;
    height: auto;

    margin-bottom: 110px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 20px;
  padding: 0 25px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 1rem;
    font-weight: 700;

    width: 100%;
    height: 45px;
    border-radius: 10px;
    background: var(--secondary);

    transition: all 0.4s;

    &:disabled {
      color: #808080;
      background: var(--disabled);
      cursor: not-allowed;
    }

    &.loading {
      background: rgba(117, 69, 229, 0.85);

      &::before {
        content: '';
  
        width: 30px;
        height: 30px;
  
        border-radius: 50%;
        border: 2px solid transparent;
        border-top: 2px solid white;
        animation: rotateSpinning .7s infinite linear;
      }
    }

    @keyframes rotateSpinning {
      from { transform: rotate(0deg); }
      to { transform: rotate(359deg); }
    }
  }
}

.form__info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  margin-bottom: 5px;

  h3 {
    color: var(--tertiary);
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 600;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--quartenary);
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  margin-top: auto;
  padding-bottom: 86px;

  img {
    width: 192px;
    height: auto;

    margin-bottom: 25px;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--tertiary);
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;

    width: 100%;
    max-width: 346px;
    margin-bottom: 35px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 325px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #7F7F7F;

    font-size: 1rem;
    line-height: 1.375rem;
    color: var(--tertiary);
    font-weight: 700;
  }
}