.container {
  display: flex;
  position: relative;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  padding: 24px;

  > a {
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-weight: 600;
    color: var(--quartenary);

    display: none;
    align-items: center;
    column-gap: 2px;
  }

  @media(max-width: 900px) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px;

    > a {
      display: flex;
    }
  }
}

.content {
  display: flex;
  column-gap: 30px;

  margin: auto;
  width: 100%;
  height: 800px;
  max-width: 1200px;

  padding: 10px;
  background: #fff;
  border-radius: 40px;
  box-shadow: var(--box-shadow);

  > img {
    display: none;

    width: 99px;
    height: auto;
  }

  > button {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;

    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    background: var(--secondary);

    transition: all 0.4s;
  }

  @media(max-width: 900px) {
    flex-direction: column;
    gap: 20px 0;
    padding: 20px;
    height: auto;

    border-radius: 24px;

    > img {
      display: block;
    }
  }
}